<div class="note-page">
  <h1><%= current_user.username%>'s Notes</h1>

  <%= link_to '+ New Note', new_note_path, class: 'btn btn-primary btn-sm my-3 note-btn' %>

  <div class="row">
    <% @notes.each do |note| %>
      <div class="col-sm-6 col-lg-3 my-1">
        <div class="card text-white note-card">
          <div class="card-header">
            <h5 class="card-title"><%= note.title %></h5>
          </div>
          <div class="card-body">
            <p class="card-text"><%= note.body %></p>
            <%= link_to 'Show', note, class: 'btn btn-outline-light btn-sm note-btn' %>
            <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-outline-light btn-sm note-btn' %>
            <%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-light btn-sm note-btn' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
